.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width:1000px) {
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}