.how-we-work {
    padding-top: 305px;
    padding-bottom: 150px;
}
.how-we-work__heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2C2830;
    margin-top: 0;
    margin-bottom: 96px;
    &::before {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background-color: #C396C6;
        margin-bottom: 63px;
    }
}
.how-we-work__list {
    @include list-unstyled;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 158px;
}
.how-we-work__item {
    max-width: 350px;
    &:not(:last-child) {
        margin-right: 30px; 
    }
}
.how-we-work__item-img {
    margin-bottom: 32px;
}
.how-we-work__item-heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.388889px;
    color: #2C2830;
    margin-top: 0;
    margin-bottom: 16px;
}
.how-we-work__item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #837D88;
    margin: 0;
}
.how-we-work__link-wrapper {
    background-color: #2D2641;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 80px;
    background-image: url(../../img/how-we-work-bgi.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.how-we-work__wrapper-heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    color: #FFFFFF;
    margin: 0;
    max-width: 475px;
}
.how-we-work__link {
    text-decoration: none;
    padding: 12px 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    flex-shrink: 0;
    display: inline-block;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}
@include breakpoint-down(750px) {
    .how-we-work {
        padding-top: 150px;
        padding-bottom: 140px;
    }
    .how-we-work__heading {
        font-size: 60px;
        line-height: 48px;
    }
    .how-we-work__list {
        flex-direction: column;
    }
    .how-we-work__item {
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 30px;
        }
        max-width: 550px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .how-we-work__item-img {
        margin-right: 20px;
    }
    .how-we-work__link-wrapper {
        padding: 50px 40px;
    }
    .how-we-work__wrapper-heading {
        font-size: 38px;
        line-height: 38px;
    }
}
@include breakpoint-down(500px) {
    .how-we-work {
        text-align: center;
    }
    .how-we-work__heading {
        &::before {
            margin-right: auto;
            margin-left: auto;
        }
        font-size: 48px;
        line-height: 48px;
    }
    .how-we-work__item {
        flex-direction: column;
        align-items: center;
        max-width: 330px;
    }
    .how-we-work__link-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .how-we-work__wrapper-heading {
        margin-bottom: 40px;
    }
}